<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connstring" connectionString="Data Source=DESKTOP-T0HOCLV;Initial Catalog=ServiceCenterManagementDB;Integrated Security=True;" />
    <add name="RASAMOTORS.Properties.Settings.rasaMotorsConnectionString"
      connectionString="Data Source=DESKTOP-T0HOCLV;Initial Catalog=ServiceCenterManagementDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="RASAMOTORS.Properties.Settings.ServiceCenterManagementDBConnectionString"
     
      connectionString="Data Source=DESKTOP-HEN8CVM;Initial Catalog=ServiceCenterManagementDB;Integrated Security=True"

      providerName="System.Data.SqlClient" />
    <add name="RASAMOTORS.Properties.Settings.NetProfitConnectionString"
      connectionString="Data Source=DESKTOP-A6OVS3L\SQLEXPRESS;Initial Catalog=NetProfit;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>